<a href="https://colab.research.google.com/github/nadeera89/project-euler-colab/blob/main/Q1-100/Q11-20/q_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**19. Counting Sundays**

You are given the following information, but you may prefer to do some research for yourself.

    1 Jan 1900 was a Monday.
    Thirty days has September,
    April, June and November.
    All the rest have thirty-one,
    Saving February alone,
    Which has twenty-eight, rain or shine.
    And on leap years, twenty-nine.
    A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.

How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?

In [24]:
dates_per_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
dates_per_month_leap = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [25]:
def is_leap_year(year):
  if year%400 == 0:
    return True
  elif year%100 == 0:
    return False
  elif year%4 == 0:
    return True
  else:
    return False

In [26]:
def get_start_date_of_year(year):
  count = 0

  for i in range(1900, year, 1):
    if is_leap_year(i):
      count += 366
    else:
      count += 365

  return count%7

In [27]:
start_date = get_start_date_of_year(1901)
number_of_sundays = 1 if start_date == 6 else 0

for year in range(1901, 2001, 1):
  months = dates_per_month_leap if is_leap_year(year) else dates_per_month

  for month in months:
    start_date = (start_date + month)%7
    if start_date == 6:
      number_of_sundays += 1

print(number_of_sundays)

171